APP_NAME="Pixelfed"
APP_ENV="production"
APP_KEY={{pixelfed_salt.stdout}}
APP_DEBUG="false"

# Instance Configuration
OPEN_REGISTRATION="false"
ENFORCE_EMAIL_VERIFICATION="false"
PF_MAX_USERS="1000"
OAUTH_ENABLED="false"

APP_LOCALE="fr"


# Media Configuration
PF_OPTIMIZE_IMAGES="true"
IMAGE_DRIVER=imagick
IMAGE_QUALITY="80"
MAX_PHOTO_SIZE="15000"
MAX_CAPTION_LENGTH="500"
MAX_ALBUM_LENGTH="4"

# Instance URL Configuration
APP_URL="{{pixelfed_url}}"
APP_DOMAIN="{{pixelfed_domain}}"
ADMIN_DOMAIN="{{pixelfed_domain}}"
SESSION_DOMAIN="{{pixelfed_domain}}"
TRUST_PROXIES="*"

# Database Configuration
DB_CONNECTION="mysql"
DB_HOST="{{pixelfed_db_hostname}}"
DB_PORT="3306"
DB_DATABASE="{{pixelfed_db_name}}"
DB_USERNAME="{{pixelfed_db_user}}"
DB_PASSWORD="{{pixelfed_db_user_password}}"

# Redis Configuration
REDIS_CLIENT="predis"
REDIS_SCHEME="tcp"
REDIS_HOST="127.0.0.1"
REDIS_PASSWORD="null"
REDIS_PORT="6379"

# Laravel Configuration
SESSION_DRIVER="database"
CACHE_DRIVER="redis"
QUEUE_DRIVER="redis"
BROADCAST_DRIVER="log"
LOG_CHANNEL="stack"
HORIZON_PREFIX="horizon-"

# ActivityPub Configuration
ACTIVITY_PUB="false"
AP_REMOTE_FOLLOW="false"
AP_INBOX="false"
AP_OUTBOX="false"
AP_SHAREDINBOX="false"

# Experimental Configuration
EXP_EMC="true"

## Mail Configuration (Post-Installer)
MAIL_DRIVER=log
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="pixelfed@example.com"
MAIL_FROM_NAME="Pixelfed"
